.main1 {
  padding-top: 20%;
  margin-left: 6%;
  margin-right: 3%;
}
h4 {
  color: #000c66;
  margin-left: 24px;
  padding: 10px 0;
  font-weight: 800;
}
.bluebtn {
  margin: 10px 0;
  background-color: #000c66;
  color: white;
}
.orangebtn {
  margin: 10px 0;
  background-color: orange;
  color: white;
}

.loginBtn {
  background-color: #000c66;
  color: white;
  width: 100%;
}

.titleForm {
  text-align: center;
  color: #000c66;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 1.4rem;
}

.titleForm1 {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 460;
  color: #000c66;
  margin-top: -10px;
}
